{% macro item(item) %}
    {% if item.guideItem %}
        {% set this = item.guideItem %}
        <li id="{{ this.id ?? "" }}-guide-item" class="guide-channel guide-notification-item overflowable-list-item">
            <a href="{{ this.href }}" class="guide-item yt-valign spf-link" title="{{ this.label.text }}" data-serialized-endpoint="{{ this.id|base64_encode }}%3D">
                <span class="yt-valign-container">
                    {% if this.icon %}
                        <span class="thumb guide-{{ this.icon.type }}-icon yt-sprite"></span>
                    {% endif %}
                    <span class="display-name {{ not this.label.count ? "no-count" }}">
                        <span>{{ this.label.text }}</span>
                    </span>
                </span>
                {% if this.label.count %}
                    <span class="guide-count yt-uix-tooltip yt-valign">
                        <span class="yt-valign-container guide-count-value">{{ this.label.count }}</span>
                    </span>
                {% endif %}
            </a>
        </li>
    {% elseif item.guideSectionSeparator %}
        <hr class="guide-section-separator">
    {% endif %}
{% endmacro %}

{% macro section(section) %}
    {% if section.guideSection %}
        {% set this = section.guideSection %}
        <li class="guide-section">
            <div class="guide-item-container personal-item">
                {% if this.title %}
                    <h3>{{ this.title }}</h3>
                {% endif %}
                {% if this.items %}
                    <ul class="guide-user-links yt-uix-tdl yt-box">
                        {% for item in this.items %}
                            {{ _self.item(item) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </li>
    {% endif %}
{% endmacro %}